@page "/"
@using BlazorApp1
@using System.Text.Json
@using System.Net.Http
@inject GlobalVariables GlobalVars
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h3>Welcome to @GlobalVars.Name!</h3>
<p>Your ip is @GlobalVars.ip</p>
<p>@GlobalVars.Value</p>
<p>Last time refreshed: @GlobalVars.last_time</p>

<div>
    <div>
        <input type="text" @bind="query" @bind:event="oninput" placeholder="Enter Query: " />
        <button type="button" @onclick="UrlLook">Submit</button>
    </div>
</div>

<div>
    <p>@outputMessage</p>
</div>

@code {
    private string url { get; set; } = string.Empty;
    private string query { get; set; } = string.Empty;
    private string outputMessage { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GlobalVars.last_time = DateTime.Now.ToString();
    }

    private async Task UrlLook()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?"); // Confirm

        if (confirmed)
        {
            outputMessage = "You entered: " + query;

            var jsonData = new
            {
                ip_address = GlobalVars.ip,
                last_loaded = GlobalVars.last_time,
                query_saved = query
            };
            string jsonString = JsonSerializer.Serialize(jsonData);
            string filePath = Path.Combine(Directory.GetCurrentDirectory(), "data.json");
            using (var stream = new FileStream(filePath, FileMode.OpenOrCreate, FileAccess.Write, FileShare.ReadWrite))
            using (var writer = new StreamWriter(stream))
            {
                writer.Write(jsonString);
            }
        }
        StateHasChanged();
    }
}
